<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionCsv" class="ru.otus.spring.dao.QuestionCsvImpl">
        <constructor-arg value="classpath:data.csv"/>
    </bean>

    <bean id="personService" class="ru.otus.spring.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionCsv"/>
    </bean>

</beans>